
@font-face {
  font-family: 'Press Start 2P', cursive;
  font-style: normal;
  font-weight: 400;
  src:  url(https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap);
}
  html { background: #111;
  padding: 1em;
  font-family: 'Press Start 2P', cursive;
  color: #eee;
  font-size: 1em;
  font-weight: 900;
  line-height: 1;
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  letter-spacing: 0.125em;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
h1 { font-size: 5em; }

@keyframes textflicker {
from {
text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
}
to {
text-shadow: 2px 0.5px 2px #ea36af, -1px -0.5px 2px #75fa69;
}

  }
  h1 {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    font-size:6vw;
    margin:3px;
  }
  h2 {
    font-family: 'Press Start 2P', cursive;  
    color: rgb(241, 201, 21);
    font-size:3vw;
    margin:6px;
  }
  body {
    width: 100%
  }